body {

    background-color: #8BA1BB;
    font-family: Arial;
    margin-top: 10%;
}

p#yes {
    background-color: black;
    display: inline-block;
    color: white;
    padding:8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;


}

div.contenu {
    background-color: white;
    margin: 0px 10% 80px 10%; 
    padding: 30px;
}

h1 {
    text-align: center;

}
p.description{
    text-align: center;
    max-width: 400px;
    display:inline-block;
    

}
div.description{
    text-align: center;
}
div.yes{
    text-align: center;
    margin-bottom: -20px;
    margin-top: 60px;
}
div.separateur{
    background-color: black;
    height: 2px;
    width: 100px;
    margin-left: auto;
    margin-right: auto; 
    
}

.sep{
    width: 100%;
    display: inline-block;
}
div.t{
    position: relative;
}
.c {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    background-color: #6C8292C0;
    height: 80px;
}
div.colonne1{
    width: 50%;
}

div.colonne2{
    width: 50%;
}

